name: Build and Deploy Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build Docker image
        run: |
          docker build -t admin673/rampage2247:latest .

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker image to Docker Hub
        run: |
          docker push admin673/rampage2247:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Install Railway CLI
        run: |
          curl -sSL https://railway.app/install.sh | sh

      - name: Login to Railway
        run: |
          echo "${{ secrets.RAILWAY_API_KEY }}" | railway login

      - name: Link to Railway project
        run: |
          railway link -p 0ff3de39-7a77-40b8-9365-4ff1ce9c2ce3

      - name: Deploy to Railway
        run: |
          railway up --image admin673/rampage2247:latest
