name: Build, Deploy Docker Image and Railway Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Репозиторыг татаж авах (Checkout repository)
      - name: Checkout repository
        uses: actions/checkout@v2

      # 2. Docker image үүсгэх (Build Docker image)
      - name: Build Docker image
        run: |
          docker build -t admin673/rampage2247:latest .

      # 3. Docker Hub руу нэвтрэх (Login to Docker Hub)
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # 4. Docker Hub руу image push хийх (Push Docker image to Docker Hub)
      - name: Push Docker image to Docker Hub
        run: |
          docker push admin673/rampage2247:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      # Кодыг татаж авах
      - name: Кодыг татаж авах
        uses: actions/checkout@v2

      # Railway CLI суулгах
      - name: Railway CLI суулгах
        run: npm install -g @railway/cli

      # Railway API түлхүүрийг хадгалах
      - name: Railway API түлхүүрийг хадгалах
        run: |
          mkdir -p ~/.railway  # Фолдер үүсгэх
          echo "${{ secrets.RAILWAY_API_KEY }}" > ~/.railway/apiKey  # API Key хадгалах

      # Railway төсөлтэй холбоо барих
      - name: Railway төсөлтэй холбоо барих
        run: railway link -p 0ff3de39-7a77-40b8-9365-4ff1ce9c2ce3

      # Railway руу түншлэх
      - name: Railway руу түншлэх
        run: railway up  # Deploy хийх
